@model Intex.Models.Invoice

@{
    ViewBag.Title = "Create";
}

<!--This displahys the current balance for all of their combined invoices. 
    It also displays links to the invoice history (details about all of the invoices), 
    and an option to make a payment againts their current balance-->
<h2>Current Account Balance</h2>

<h3><strong>$@ViewBag.InvoiceOutput </strong></h3>

<br /><br />

<div>
    <div>
        <a class="btn btn-default" href="@Url.Action("Edit", "Invoices")"> Pay Balance</a>
    </div>
    <br />
    <div>
        <a class="btn btn-default" href="@Url.Action("Index", "Invoices")"> Invoice History </a>
    </div>
    <br />
</div>


