@model Intex.Models.Invoice

@{
    ViewBag.Title = "CreateAgain";
}

<!--FIX ME, this page was used to display the balance after a payment was made, but we want to instead update the database-->
<h2>Current Account Balance</h2>

<h3><strong>@ViewBag.InvoiceOutput</strong></h3>

<br /><br />

<div>
    <div>
        <a class="btn btn-default" href="@Url.Action("Edit", "Invoices")"> Pay Balance</a>
    </div>
    <br />
    <div>
        <a class="btn btn-default" href="@Url.Action("Index", "Invoices")"> Invoice History </a>
    </div>
    <br />
</div>
