@model Intex.Models.Invoice

@{
    ViewBag.Title = "Create";
}

<h2>Current Account Balance</h2>

<h3><strong>@ViewBag.InvoiceOutput</strong></h3>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
