@model Intex.Models.Invoice

@{
    ViewBag.Title = "Edit";
}

<h2>Pay Invoice</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.InvoiceID)

        <div class="form-group">
            <p>Enter the amount to pay: </p>
            <div class="col-md-10">
                @Html.Editor("Payment Amount")
            </div>
        </div>

                <input type="submit" value="Pay Invoice" class="btn btn-default" />
        </div>
  
}


