@model Intex.Models.Client

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}


<link rel="stylesheet" href="~/Content/CustomStyleSheet.css" />
<div class="container">
    <h1> @Model.ClientName's Customer Portal</h1>

</div>
<div class="jumbotron">
    <img style="height:150px; width:150px"src="~/Content/Images/work orders.jpg" />
    <a class="transparent-button" href="@Url.Action("Create", "WorkOrders")"> Create a New Work Order </a> <br />
    <a class="transparent-button" href="@Url.Action("Current", "WorkOrders")"> View Current Orders </a> <br />
    <a class="transparent-button" href="@Url.Action("Current", "WorkOrders")"> View Past Work Orders </a>
</div>

