@model Intex.Models.Compound

@{
    ViewBag.Title = "Results";
}

<h1 style="color: steelblue"><strong>CONGRADULATIONS!</strong></h1>
<h2>
    You Made it to the Results Page<br />
    Here we will display all the results of the tests
</h2>
<img src="~/Content/Images/giphy.gif" />

<br />
<br />
<br />
<div>
    @Html.ActionLink("Back to Home", "Index")
</div>



