@model Intex.Models.Compound

@{
    ViewBag.Title = "Results";
}

<h1 style="color: steelblue"><strong>CONGRATULATIONS!</strong></h1>
<h2>
    You Made it to the Results Page<br />
    Here we will display all the results of the tests
</h2>
<img src="~/Content/Images/Letter - 2 (1).png" />
<br />
<br />
<br />
<div>
    @Html.ActionLink("Back to Home", "Index")
</div>



