
@{
    ViewBag.Title = "About Us";
}

<!--The about us page lets customers know more info about the company-->
<h1 style="text-align:center"><strong>About Us</strong></h1>

<!--Brief explanation of the company-->
<div class="jumbotron">
    <h2 style="text-align:center"><strong >What We Do </strong> </h2>
    <p>Northwest Labs Pharmaceutical performs chemical and compound tests to provide
    clients with assay analyses of chemical compounds or drugs. These assay analysis 
    tests determine the characteristics of drugs and chemical compounds that are in the
    process of development by Northwest Labs Pharmaceutical’s clients.</p>
    <img style="width:100%; height:50%;" src="~/Content/Images/aboutus-testtube.jpg" />
</div>

<!--Location information-->
<div class="jumbotron">
    <h2 style="text-align:center"><strong>Location</strong> </h2>
    <p> The testing for Northwest Labs Pharmaceutical’s clients are run out of Singapore, with an office in 
    Seattle. The Seattle office acts as a communication link between clients and the 
    pharmaceutical labs in Singapore.</p>
    <img style="width:100%; height:50%;"src="~/Content/Images/location.png" />
</div>
<!--For further questions they are directed to our contact page-->
<div class="jumbotron">
    <h2 style="text-align:center">Want to know More? </h2>
    <p style="text-align:center"><a href="@Url.Action("NewAccount", "Clients" )">Visit our contact page</a> to get ahold of us!</pstyle="text-align:center">
</div>


