
@{
    ViewBag.Title = "Quote";
}

<h1 style="text-align:center">Results </h1>

<div class="container">
    <h4>Your  @Html.Raw(ViewBag.AssayName) assay will cost: $@Html.Raw(ViewBag.Price)</h4>
</div>
<img src="~/Content/Images/test tubes.jpg" />

<div class="panel-footer">
    <p>Would you like to order a test?  <a href="tel: 123-456-7891 "> Call  </a> to set up your account.</p>
    <p>Already have an account? @Html.ActionLink("Login", "Login", "Clients")  to order your assay tests online.</p>
</div>


