
@{
    ViewBag.Title = "Index";
}

<div class =" jumbotron">
    <h2 style="text-align:center">  Assay Tests Made Easy</h2>
    <div class=" container">
        <img  style="width:1000px "src="~/Content/Images/small-DNA-gene_b.gif" />
    </div>
    
</div>



