
@{
    ViewBag.Title = "New Account";
}
<link rel="stylesheet" href="~/Content/CustomStyleSheet.css" />
<br />
<div class=" jumbotron">
    <h2><strong>Contact a Sales Representative Today!</strong></h2>
    <h3 style="align-content: center;"> Call<a href="tel: 206-921-2345 "> 206-921-2345 </a>  to set up your account and receive information regarding our tests or click below to see our pricing</h3>
    
    <div class="container">
        <div style="position:inherit; margin-left:185px; margin-top: 75px">
            <img src="~/Content/Images/lab tests.jpg" style="width: 600px; height: auto; ">
            <a style="top: -125px; left: 0px; position:relative;" class="semi-transparent-button" href="@Url.Action("QuoteCalculator", "Home")"> Get a Quote Today</a>
        </div>
    </div>
</div>

